* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  outline: none;
}

&:focus {
  outline: none;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
